$background-grey: rgb(233, 233, 233);
$lightgrey-background: rgb(248, 248, 248);
$box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
$background-image: linear-gradient(rgb(218, 109, 203), rgb(99, 0, 180));
$font: 'Playfair Display', serif;
$footer-background: rgb(48, 48, 48);