.entreeMenu, .mainMenu, .dessertMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 10px #c9c9c9;
  box-shadow: 0px 2px 10px #c9c9c9;
  -webkit-animation: 1.3s ease-out 0s 1 slideFromRight;
  animation: 1.3s ease-out 0s 1 slideFromRight;
}

.header, .header2, .header3 {
  position: absolute;
    left: 0;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;

}

.entreeMenu .mainMenu .dessertMenu, .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #99e2d0;
  display: none;
 
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
 margin-right: 10px;
  
}
.entreeMenu .check .fas,
.mainMenu .check .fas,
.dessertMenu .check .fas {
  color: white;
  font-size: 30px;
}

.entreeMenu:hover .check,
.mainMenu:hover .check,
.dessertMenu:hover .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.entreeMenu:hover .check .fas,
.mainMenu:hover .check .fas,
.dessertMenu:hover .check .fas{
  -webkit-animation: 0.3s linear 0s rotate;
  animation: 0.3s linear 0s rotate;
}

@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}


@keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hover {
  0% {
    width: 0px;
  }
  50% {
    width: 15%;
  }
  100% {
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 10280px) {
  #restaurant figure { 
    transition: all .2s ease-in-out; 
  }

  #restaurant figure:hover {
    transform: scale(1.1);
  }
}

