// home page
.menu button {
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    height: 70px;
}



#restaurant img {
    border-radius: 15px;
    width: 100%;
}

#restaurant figure {
    height: 260px;
    text-align: left;
    font-size: 20px;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    border-radius: 25px;
}

#restaurant figure:last-child {
    height: 350px;
}

#restaurant img:hover {
    outline: #333 solid 4px;
}

#restaurant figcaption {
    margin: 10px;
}

figure .material-icons {
    float: right;
}
// the full palette
img {
    width: 100%;
    align-items: center;
}

.paletteMenu {
    background-color: $background-grey;
    background-size: 500% auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: -15%;
    overflow: hidden;
    position: absolute;
    margin-left: -5px;
}



.paletteMenu h2 {
    margin-left: 10%;
    font-size: 25px;
}



.header, .header2, .header3 {
    margin-left: 25px;
    font-weight: normal;
}

.header:before, .header2:before, .header3:before  {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 50%;
    border-bottom:2px solid #99e2d0;
  }

.header2 {
   margin-top: 65px;
}

.header3 {
    margin-top: 120px;
 }

.paletteMenu .material-icons {
    float: right;
    font-size: 100%;
}

.entreeMenu, .mainMenu, .dessertMenu {
    background-color: white;
    padding-left: 15px;
    border-radius: 20px;
    margin: 20px;
    width: 90%;
    height: 100%;
    transition: all 1.1s cubic-bezier(.19,1,.22,1);
    border: 2px solid transparent;
    background-color: white;
    position: relative;
    top: 50px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px rgba(0,0,0,.2);
    margin-top: 10px;
    margin-bottom:20px;    
    margin-left: 5px;
}

.mainMenu {
    position: relative;
    top: 100px;
}

.dessertMenu {
    position: relative;
    top: 150px;
}





#text {
    display: block;
    margin-left: 20px;
    line-height: 5px;
    overflow: hidden;
  
}





.paletteMenu button {
    background-image: $background-image;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin-left: 80px;
    margin-top: 130px;
    width: 50%;
    position: relative;
    top: 30px;
    margin-bottom: 20%;
}


