@mixin column {
    display: flex;
    flex-direction: column;
  }

  .menu {
    @include column;
    padding: 20px;
}

.restaurant {
  @include column;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 10%;
}